body {
	background-color: #303030;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
}
.top{
	display: flex;
    justify-content: flex-start;
    align-items: center;
	flex-wrap: nowrap;
}
.top div h2{
    padding-right: 30vw;
    padding-left: 5vw;
    font-size: 3rem;
}
#zegar{ 
    position: absolute;
    right: 5%;
    font-size: 2rem;
}
hr{
    max-width: 90vw;
    margin-top: -20px;
}
.square{
    border: 2px solid #ffffff;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10vh;
}
.box1{
    display: flex;
    justify-content: space-evenly;
    max-width: 20vw;
    flex-wrap: wrap;
    align-items: center;
}
.box1 div{
    margin: 10px;
}
.box2 h2{
    font-size: 1.5rem;
    text-align: justify;
    padding: 50px;
    width: 35vw;
    height: 240px;
    border: 2px solid #fff;
    box-sizing: border-box;
    line-height: 3rem;
}
#sq6{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    max-width: 40vw;
    margin-left: 30vw;
}
.end{
    font-size: 1.3rem;
    margin-top: 25vh;
}


    /*  **********************
        ***** for Mobile *****
        ********************** */
@media only screen and (max-width: 425px) {
    body{
        overflow-x: hidden;
    }
    .top div h2{
    padding-right: 30vw;
    padding-left: 5vw;
    font-size: 2rem;
    }
    #zegar{ 
    position: absolute;
    right: 5%;
    font-size: 1.5rem;
    }
	hr{
    max-width: 90vw;
    margin-top: -20px;
    }
    .square{
        border: 1px solid #ffffff;
        width: 70px;
        height: 70px;
        cursor: pointer;
    }
    .box{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 10vh;
        flex-direction: column;
        align-items: center;
    }
    .box1{
    display: flex;
    justify-content: flex-start;
    max-width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    }
    .box1 div{
        margin: 0 px;
    }
    .box2 h2{
        font-size: 0.8rem;
        text-align: justify;
        padding: 5px;
        padding-top: 20px;
        width: 80vw;
        height: 160px;
        border: 2px solid #fff;
        box-sizing: border-box;
        line-height: 1.5rem;
        margin-top: 45px;
    }
    #sq6{
        display: flex;
        justify-content: space-around;
        margin-top: 30vh;
        max-width: 50vw;
        margin-left: 25vw;
    }
    /* #sq6 div{
        max-width: 50px;
        max-height: 50px;
    } */
    .end{
        font-size: 1rem;
        margin-top: 5vh;
    }
    #sq6 a i::before {
        font-size: 40px !important;
    }
}

